*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background: #000000;

}

.container{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background: #000000;
}

.img{
    width: 35%;
    height: 80%;
    position: absolute;
    top: 100;
    right: 330px;  
}

.image h1{
    color: #f5e4ec;
    margin-top: 200px;
    margin-left: 80px;
    font-family: 'Courier New';
    letter-spacing: 4px;
    border-radius: 5px  #f1f1f1;
    position: absolute;
    top: 10%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: left;
    background: none;
}
.image p{
    color: #f7eef2;
    margin-top: -40px;
    margin-left: 80px;
    font-size: 18px;
    font-family: Arial;
    letter-spacing: 2px;
    line-height: 1.3;
    border-radius: 5px  #f1f1f1;
    position: absolute;
    top: 52%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: left;
    background: none;
}
.glass-button {
    display: inline-block;
    padding: 24px 32px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background: none;
    background-color: rgba(15, 10, 14, 0.74);
    border: 1px solid rgba(139, 80, 125, 0.295);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 15px;
    letter-spacing: 4px;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: 170px;
    margin-top: -350px;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: none;
  }
  
  .glass-button:hover {
    background-color: rgba(136, 106, 120, 0.678);
  }
  .glass-button a{
      text-decoration: none;
      color: white;
      background: none;
  }
.bg-image {
    /* The image used */
    background-image: url("images/brush3.jpg");
  
    /* Add the blur effect */
    filter:opacity(10) ;
    -webkit-filter: blur(17px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
 

nav{
    display: flex;
    align-items: center;
    padding: 0px 8%;
    margin-top: 20px;
}
nav ul{
    position: relative;
    flex: 1;
    text-align: center;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 30 30px;
}
nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color:#f5e4ec;
}
.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

.about{
    padding-top: 200px;
    width: 100%;
    position: relative;
}
.about h1{
    margin-left: 38%;
    color: white;
    font-family:'Courier New';
    font-size:50px;
    font-weight: lighter;
    margin-top: 70px;
}

.about p{
    color:#f5e4ec;
    font-family:'Courier New';
    font-size:21px;
    margin-left: -20px;
    margin-right: 50px;
    margin-top: 70px;
}
.clean{
    
    margin-left: 170px;
}

  .collection{
    padding-top: 200px;
    width: 100%;
    position: relative;
}
.collection h1{
    margin-top: 70px;
    margin-left: 38%;
    color: white;
    font-family:'Courier New';
    font-size:50px;
    font-weight: lighter;
}
.collection p{
    color:#f5e4ec;
    font-family:'Courier New';
    font-size:22px;
    margin-left: 60px;
    margin-top: 70px;
}
.pinkimg{
    margin-left: 50px;
}
.three{
    padding-top: 100px;
 
}
.three h1{
    margin-top: 20px;
    margin-left: 38%;
    color: white;
    font-family:'Courier New';
    font-size:50px;
    font-weight: lighter;
}
.three p{
    color:#f5e4ec;
    font-family:'Courier New';
    font-size:22px;
    margin-left: -20px;
    margin-right: 50px;
    margin-top: 70px;
}
.rdimg{
    margin-top: 90px;
    margin-left: 50px;
}
.four{
    padding-top: 100px;
    width: 100%;

}
.four h1{
    margin-top: 0px;
    margin-left: 38%;
    color: white;
    font-family:'Courier New';
    font-size:50px;
    font-weight: lighter;
}
.four p{
    color:#f5e4ec;
    font-family:'Courier New';
    font-size:22px;
    margin-left: 60px;
    margin-top: 70px;
}
.rdimg{
    margin-top: 20px;
    margin-left: 50px;

}
.five{
    padding-top: 200px;
}
.five h1{
    margin-left: 38%;
    color: white;
    font-family:'Courier New';
    font-size:50px;
    font-weight: lighter;
    margin-top: -90px;
}

.five p{
    color:#f5e4ec;
    font-family:'Courier New';
    font-size:21px;
    margin-left: -20px;
    margin-right: 50px;
    margin-top: 70px;
}
.ex{
    margin-top: 20px;
    margin-left: 10px;
}
.last{
    padding-top: 240px;
}
.last h1{
    margin-top: -190px;
    margin-left: 38%;
    color: white;
    font-family:'Courier New';
    font-size:50px;
    font-weight: lighter;
}
.last p{
    color:#f5e4ec;
    font-family:'Courier New';
    font-size:22px;
    margin-left: 60px;
    margin-top: 70px;
    margin-bottom: 250px;
}
.routine{
    margin-left: 150px;

}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

form { max-width:420px; margin:50px auto; }
h2{
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
    color:#f5e4ec;
    font-weight: lighter;
}
.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 22px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #6b1451;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #50142b; }

textarea {
  height: 300px;
  line-height: 250%;
  resize:vertical;
}
button{
    margin-left: 65%;
    margin-top: 28px;
}

[type="submit"] {
  font-family: 'poppins', sans-serif;
  width:33%;
  background:#6b1451;
  border-radius:3px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:18px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
}
[type="submit"]:hover { background:#6b1939; }


.footer{
    width: 100%;
    height: 150px;
    background-color: rgb(31, 0, 20);
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }/* ===== FOOTER ===== */
  .footerp{
    background-color: rgb(31, 0, 20);
      color: rgb(255, 255, 255);
      text-align: center;
      font-size: 19px;
      font-family:'Courier New'; 
      margin-bottom: 30px;

  }
  .footer__social{
    background-color: rgb(31, 0, 20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    width: 200px;
    margin-top: 50px;
  }
 